.header {
    background-color: rgb(100, 140, 214);
    border-radius: 10px;
    max-width: 700px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bloco {
    background-color:beige;
    border-radius: 10px;
    max-width: 700px;
}

.linkpage{
    padding: 2px 20px;
    background-color: rgb(100, 140, 214);
    border-radius: 5px;
    color: white;
}
.linkpage:hover{
    background-color:deeppink;
}

.tabela {
    text-align: left;
    padding: 14px;
}
.tabela th{
    padding: 3px 30px;
    border-bottom: 3px solid gray;
}
.tabela td{
    padding: 3px 30px;
    border-bottom: 1px solid gray;
}

.tabela td img {
    max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
}

