.header {
    background-color: rgb(100, 140, 214);
    border-radius: 10px;
    max-width: 700px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bloco {
    background-color:beige;
    border-radius: 10px;
    max-width: 700px;
}

.tabela {
    text-align: left;
    padding: 14px;
    max-width:100%;
    display: inline-flex;
}
.tabela th{
    max-width:100%;
    border-bottom: 3px solid gray;
}
.tabela td{
    max-width:100%;
    border-bottom: 1px solid gray;
}

.tabela td img {
    max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
}

